*{
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

.firstrow{
	font-family: Arial;
	text-align: center;
	color: white;
	background-color: #63C551;
}

th{
	text-align: left;
	background-color: #E7FAC6;
	padding-right:  20px;
}

th:nth-child(even){
	background-color: #DCF5AD;
}

.forlast{
	padding-right:  40px;
}