*{
		font-family: Arial;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

.firstcolum, .header{
	background-color: #94BCF7;
	height: 38px;
	color: white;

}
.maincell, .header{
	width: 90px;
}

.firstcolum{
	width: 150px;
	text-align: left;
	text-indent: 20px;
}

.header{
	text-align: center;
}

.maincell{
	background-color: #D2DEEE;
	font-size: 15px;
}