*{
	font-family: Verdana;
}

.table,table {
	width: 250px;
}


td{
	text-align: center;
	padding: 6px;
}

tr:nth-child(even) {
    background-color: #F5F5F5;
}

.line{
	background-color: green;
	height: 2px;
}

tr:nth-child(1){
	font-weight: bold;
	color: green;
	height: 50px; 
	font-size: 30px;	
}
tr:nth-child(2){
	font-weight: bold;
	font-size: 30px;
	height: 50px; 
	color: white; 
	background-color: green;
}

.forlast{
	padding-right:  40px;
}
.forbutton{
	text-align: center;
	padding: 25px
}
button{
	position: relative;
	color: green; 
	background-color: white;	
	padding: 5px; 
	border-radius: 5px;
	border: 2px solid green;
	padding: 7px;
	text-align: center;
}
